{% paginate collection.products by 5 %}


<div class="variants">
    {% for product in collection.products %}
    {% if product.variants.size > 1 %}
        
    
        {% assign color_active = false %}
        {% for option in product.options %}
            {% if option == 'Color' %}
             {% assign color_active = true %}

                {% if product.variants.size > 1 and color_active == true %}
                    {% assign index = forloop.index0 %}
                    {% assign colorlist = '' %}
                    {% assign color = '' %}
                    {% for variant in product.variants %}
                        {% capture color %}
                        {{ variant.options[index] }}
                        {% endcapture %}

                        {% unless colorlist contains color %}
                        <a class="product_card" href="{{variant.url }}">
                            <div>
                                <div class="variant_image">
                                    <img src="{{variant.featured_image | img_url: 'master'}}" alt="variant-title">

                                </div>
                                <div class="variant_title"><strong>{{product.title}}-{{color}}</strong></div>

                                <div class="variant_price">{{variant.price | money}}</div>

                            </div>
                        </a>
                        {% capture tempList %}
                        {{colorlist | append: color | append: " " }}
                        {% endcapture %}
                        {% assign colorlist = tempList %}
                        {% endunless %}

                    {% endfor %}
                    {% else %}
                    <a class="product_card" href="{{product.url }}">
                        <div>
                            <div class="variant_image">
                                <img src="{{product.featured_image | img_url: 'master'}}" alt="product-image">
                
                            </div>
                            <div class="variant_title"><strong>{{product.title}}</strong></div>
                
                            <div class="variant_price">{{product.price | money}}</div>
                
                        </div>
                    </a>
              
                {% endif %}
            {% endif %}
        {% endfor %}

        {% else %}
        <a class="product_card" href="{{product.url }}">
            <div>
                <div class="variant_image">
                    <img src="{{product.featured_image | img_url: 'master'}}" alt="product-image">
    
                </div>
                <div class="variant_title"><strong>{{product.title}}</strong></div>
    
                <div class="variant_price">{{product.price | money}}</div>
    
            </div>
        </a>
        {% endif %}  
    {% endfor %}
</div>

{% if paginate.pages > 1 %}
<div class="pagination">
  <input type="hidden" value="{{ paginate.next.url }}" data-next-link>
  <input type="hidden" value="{{ paginate.pages }}" data-all-pages>
  <input type="hidden" value="{{ paginate.current_page }}" data-this-page>
  <input type="hidden" value="{{ collection.url }}" data-coll-url>
  <div class="load-more_wrap">
    <button class="btn js-load-more">
      <span load-more-text>Load more</span>
      <span class="loadMoreHide" loader>
        <img src="{{ 'loader.gif' | asset_url }}" />
      </span>
    </button>
  </div>
</div>
{% endif %}


{% endpaginate %}
