<div class="variants">
    {% for product in collection.products %}
    {% assign color_active = false %}
    {% assign size_active = false %}
    {% for option in product.options %}
    
    {%- comment -%} for product which has size variants {%- endcomment -%}
    
    {% if option == 'Size'%}
    {% assign size_active = true %}
    {% if product.variants.size > 1 and color_active == true %}

    {% assign sizeindex = forloop.index0 %}
    {% assign sizelist = '' %}
    {% assign p_size = '' %}

    {% for variant in product.variants %}
    {% capture p_size %}
    {{ variant.options[index] }}
    {% endcapture %}

    {% unless sizelist contains color %}
    <a class="product_card" href="{{variant.url }}">
         <div>
            <div class="variant_image">
                <img src="{{variant.featured_image | img_url: 'master'}}" alt="variant-title">

            </div>
            <div class="variant_title"><strong>{{product.title}}-{{color}}</strong></div>

            <div class="variant_price">{{variant.price | money}}</div>

        </div>
    </a>
    {% capture tempList %}
    {{sizelist | append: color | append: " " }}
    {% endcapture %}
    {% assign sizelist = tempList %}
    {% endunless %}
    {% endfor %}    
    {%endif%}
    {%endif%}
    

    {%- comment -%} for product which has color variants{%- endcomment -%}
    
    
    {% if option == 'Color' %}

    {% assign color_active = true %}
    {% endif %}
    {% endfor %}
    {% if product.variants.size > 1 and color_active == true %}
    {% for option in product.options %}
    {% if option == 'Color' %}
    {% assign index = forloop.index0 %}
    {% assign colorlist = '' %}
    {% assign color = '' %}

    {% for variant in product.variants %}
    {% capture color %}
    {{ variant.options[index] }}
    {% endcapture %}

    {% unless colorlist contains color %}
    <a class="product_card" href="{{variant.url }}">
         <div>
            <div class="variant_image">
                <img src="{{variant.featured_image | img_url: 'master'}}" alt="variant-title">

            </div>
            <div class="variant_title"><strong>{{product.title}}-{{color}}</strong></div>

            <div class="variant_price">{{variant.price | money}}</div>

        </div>
    </a>
    {% capture tempList %}
    {{colorlist | append: color | append: " " }}
    {% endcapture %}
    {% assign colorlist = tempList %}
    {% endunless %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% else %}
    <-- INSERT PRODUCT LOOP -->
        {% endif %}
        {% endfor %}
</div>